.container {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
}

.select{
    float:right;
}

.service{
    padding: 10px;
    border: 1px solid lightgrey;
}

.purple{
    background-color: purple;
}

